{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/about.css' %}"
/>
{% endblock %} {% block content %}
    <div class="logo-nero">
    <img src="{% static 'images/logo-con-sfondo.png' %}" id="logo-nero" alt="logo-nero">
    </div>
<h1>About the app</h1>

<p><strong>'Luggage manager'</strong> is an app where you can track your luggages that you bring during a trip. The purpose of the app is to make sure that you wont forget anything.</p>
<p>Are you tired to get messy? Are you tired of getting confused in your clothing piles that you can't sort?</p>
<p>This app is for you! Write down your destination and add all your luggages! Chose the luggage type, size, color and add your items that you're bringing!</p>


{% endblock %}
