{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}
<div class="logo-nero">
<img src="{% static 'images/logo-con-sfondo.png' %}" id="logo-nero" alt="logo-nero">  
</div>
    <h1>Sign Up</h1>
{% if error_message %}
    <p class="red-text">{{ error_message }}</p>
{% endif %}
<form action="" method="post" class="formSignup" autocomplete="off">
    {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
    <button type="submit" class="btnSubmit">Submit!</button>
</form>

{% endblock %}
