{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/flights/flight-form.css' %}"
/>
{% endblock %} {% block content %}

{% if object %}
    <h1>Edit flight: {{ object.name }}</h1>
  {% else %}
    <h1>Add a new flight!</h1>
  {% endif %}

<form action="" method="post" class="form-container">
  {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}