{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/flights/flight-detail.css' %}"
/>
{% endblock %} {% block content %}
    <div class="logo-nero">
    <img src="{% static 'images/logo-con-sfondo.png' %}" id="logo-nero" alt="logo-nero">
    </div>
  <div class="noLogo">
<div class="confirmedThings">
<h1> Flight Detail </h1>

<p class="pDetails">Destination: <strong>{{ flight.destination }}</strong>. Flight number: {{ flight.flight_number }} on {{flight.departure_date}} to {{flight.return_date}} </p>
<div class="btnActions">
<a href="{% url 'flight-update' flight.id %}" class="btnEdit">Edit</a>
<a href="{% url 'flight-delete' flight.id %}" class="btnDelete">Delete</a>
</div>
<h1>Your Luggage</h1>

<table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Size</th>
          <th>Color</th>
          <th class="items" id="itemsTh">Items</th>
        </tr>
      </thead>
      <tbody>
        {% for luggage in flight.luggage_set.all %}
          <tr>
            <td>{{luggage.get_type_display}}</td>
            <td>{{luggage.get_size_display}}</td>
            <td>{{luggage.color}}</td>
            <td class="items">{{luggage.items}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
<div class="luggage-form">
<h1>Add Luggage</h1>

<form action="{% url 'add-luggage' flight.id %}" method="post" class="subsection-content" autocomplete="off">
    {% csrf_token %} 
    {{ luggage_form.as_p }}
    <button type="submit" class="btnSubmit">Add Luggage</button>
</form>
</div>
</div>
{% endblock %}