{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/flights/flight-index.css' %}"
/>
{% endblock %} {% block content %}

<nav><ul><li><a href="{% url 'flight-create' %}">Add a flight</a></li></ul></nav>

<h1>All Flights</h1>

<ul>
{% for flight in flights %}
  <a href="{% url 'flight-detail' flight.id %}"><li>{{ flight.destination }} {{flight.flight_number}} {{flight.departure_date}} {{flight.return_date}}</li></a>
{% endfor %}
</ul>

{% endblock %}