{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/flights/flight-index.css' %}"
/>
{% endblock %} {% block content %}
    <div class="logo-nero">
    <img src="{% static 'images/logo-con-sfondo.png' %}" id="logo-nero" alt="logo-nero">
    </div>
<h1 class="allFlights">All Flights</h1>
<div class="container">
<ul class="everyFlight">
{% for flight in flights %}
  <li class="specificFlight">
    <a href="{% url 'flight-detail' flight.id %}" class="flightList">
      <h1>{{ flight.destination }}</h1> <p>Flight number: {{ flight.flight_number }} on {{ flight.departure_date }} to {{ flight.return_date }}</p>  
    </a>
  </li>
{% empty %}
  <p>No flights yet.</p>
{% endfor %}
</ul>
</div>
{% endblock %}